/* ----------ABOUT COMPONENT---------- */

.about-box {
    color: #fff;
    margin: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-header {
    font-family: 'Inconsolata', monospace;
    font-size: 70px;
    text-align: left;
    width: min-content;
    margin: 0 30px;
}

.about-me {
    width: 600px;
    text-align: left;
    line-height: 30px;
    letter-spacing: 2px;
}

#about-img {
    width: 30vw;
    margin: 30px 50px 0 30px;
}