/* ----------HEADER COMPONENT---------- */
  
  .header-elements {
      font-size: 15px;
      color: #fff;
      display: flex;
      flex-direction: row;
      align-content: space-around;
      align-items: center;
      margin: 50px 0 0 50px;
  }
  
  .header-elements div {
      padding-right: 30px;
  }
  
  .header-elements a:link, a:visited {
    color: #fff;
    text-decoration: none;
  }
  